<div class="container mt-3">
  <%= simple_form_for restaurant do |f| %>
  <div class= "d-flex align-items-center">
    <div class="flex-grow-1"><%= f.input :name %></div>
    <div class="flex-grow-1 me-1"><%= f.input :address %></div>
    <%= f.submit restaurant.new_record? ? "Crear" : "Guardar", class: "btn btn-success mt-3 me-1" %>
    <%= link_to "Cerrar", restaurants_path, class:"btn btn-secondary mt-3" %>
    </div>
  <% end %>
</div>
